body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 231, 143);
}

h1{
    text-align: center;
    margin: auto;
    border-color: rgb(236, 150, 64) ;
    border-style: dashed;
    border-width: 5px;
    background: rgb(153, 210, 253);
    width: 66%;
}

.images, .choices, .result{
    width: 100%;
    text-align: center;
}

picture img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #a2067e;
}

button {
    width: 200px;
    height: 50px;
    display: inline-block;
    padding: 20px 10px;
    font-size: 16px;
    border: none;
    background-color: #f7d0ee;
    font-weight: bold;
    text-decoration: none;
    font-family: cooper black;
    }


    button:hover {
background-color: #e9c8fc;
}

a:hover {
color: #4c0674;
}

footer {
    background-color: #f7eec0;
    padding: 2px;
    text-align: center;
}
