body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 80%;
    text-align: center;

}

.alert{
    width: 100%;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.danger{
    border: 2px solid red;
    background-color: rgb(254, 228, 228);
}

.warning{
    border: 2px solid orange;
    background-color: rgb(233, 210, 182);
}

.success{
    border: 2px solid green;
    background-color: rgb(187, 240, 187);
}